footer {
  text-align: center;
  background: var(--footer);
  color: var(--white);
  padding: 10% 0%;

  > p {
    margin-top: 10%;
    font-size: 0.7rem;

    @include desktop {
      margin-top: 2%;
      font-size: 0.9rem;
    }
  }

  @include desktop {
    padding: 5% 0%;
  }
}
