.homePicture {
  height: 55vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 30px;
  font-size: 1.5rem;
  color: black;
  padding: 5%;
  background: url("../../assets/img/disney_books_1.PNG");
  background-size: 100% 100%;
}

.homePicture__title {
  background: var(--white);
  opacity: 0.7;
  padding: 15% 5%;
  font-size: 1rem;

  @include tablet {
    font-size: 2rem;
    line-height: 40px;
  }
}
