.informations {
  display: none;
  position: relative;
  background: var(--white);

  @include desktop {
    width: 80%;
    margin: 0 auto;
  }
}

.informations__image {
  width: 60%;
  margin-bottom: 5%;

  @include tablet {
    width: 50%;
  }

  @include desktop {
    width: 30%;
    margin-bottom: 0%;
  }
}
.informations__description {
  text-align: center;
  padding: 5%;
  line-height: 25px;

  @include tablet {
    font-size: 1.5rem;
    line-height: 40px;
  }
}
.informations__title {
  font-size: 2rem;
  font-family: var(--title_font);
  margin-bottom: 5%;

  @include tablet {
    font-size: 4rem;
  }
}
.close {
  position: absolute;
  top: 0%;
  right: 5%;
  font-size: 1.5rem;
  cursor: pointer;

  @include tablet {
    font-size: 2rem;
  }

  @include desktop {
    top: 5%;
  }
}
.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0;
  -webkit-animation: fadeIn 1s forwards;
  animation: fadeIn 1s forwards;

  @include desktop {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
.hidden {
  display: none;
}
