.menu {
  height: 20vh;
  @include flex_center;
  text-align: center;

  a {
    text-decoration: none;
    color: black;
    font-family: var(--title_font);
    font-size: 2rem;
    border: gray thick double;
    padding: 5%;
    background: var(--white);

    @include tablet {
      padding: 5% 10%;
      font-size: 3rem;
    }
  }
}
