.menu {
  height: 20vh;
  @include flex_center;
  text-align: center;

  a {
    text-decoration: none;
    color: black;
    font-family: var(--title_font);
    font-size: 2rem;
    border: gray thick double;
    padding: 3vh 10vw;
    background: var(--white);

    @include tablet {
      font-size: 3rem;
    }

    @include desktop {
      font-size: 1.5rem;
      padding: 1vh 3vw;
    }
  }

  @include desktop {
    height: 10vh;
  }
}
