.menu {
  height: 60vh;
  @include flex_center;
  text-align: center;
  background: url("../../assets/img/cover_1.jpg");
  background-size: 100%;

  a {
    text-decoration: none;
    color: black;
    font-family: var(--title_font);
    font-size: 2rem;
    border: rgb(231, 61, 61) thick double;
    padding: 3vh 10vw;
    background: var(--white);
    opacity: 0.8;
    display: none;

    @include tablet {
      font-size: 3rem;
    }

    @include desktop {
      font-size: 1.5rem;
      padding: 1vh 3vw;
    }
  }

  @include desktop {
    min-height: 80vh;
    background-size: 100%;
  }
}
