* {
  box-sizing: border-box;
}
body {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8/2i7HAAIOAK406oLtAAAAABJRU5ErkJggg==");
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
}
p,
h1,
h2,
a {
  font-family: var(--p_font);
}
hr {
  width: 20%;
}
